<ion-header>
</ion-header>

<ion-content>
    <ion-img id="homem_manual"src=".\assets\images\homem_manual.png"></ion-img>

    <ion-title class="titulo_manual">MANUAL</ion-title>
    <ion-img id="template_manual" src=".\assets\images\template_manual.png"></ion-img>
    <ion-list class="navegacao">
      <ion-button (click)="goToXenofobia()">XENOFOBIA</ion-button>
      <ion-button (click)="goToLgbtqia()">LGBTQIA+FOBIA</ion-button>
      <ion-button (click)="goToRacismo()">RACISMO</ion-button>
      <ion-button (click)="goToSexismo()">SEXISMO</ion-button>
    </ion-list>
</ion-content>
