<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro Professor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="navegacao">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Escola</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" class="button_navegacao">Enviar</ion-button>
</ion-content>
