<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" ></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" ></ion-input>
        </ion-item>
      </ion-list>
    
      <ion-button expand="full" >Entrar</ion-button>
    </ion-content>
    <ion-button >Criar uma nova conta</ion-button>
  </ion-header>
</ion-content>
