@font-face {
    font-family: "Bee Four";
    src: url("/assets/fonts/Bee-Four.ttf");
  }
  
  * {
    border: none;
    background-color: var(--ion-color-primary-contrast);
    font-family: "Bee Four", sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 0px;
  }

#titulo_converse{
  
}


  #template_converse{
    position: relative;
    background: transparent;
    z-index: 0;
    background-size: cover
  }

  #mulher_pag_converse{
    background: transparent;
    position: absolute;
    top:100px;
    width: 200px;
    z-index: 1;
  }

ion-list .input_denuncia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  }

  #multiline {
    white-space: normal;
  }

  #contatos {
    display: flex;
  }

  #contatos ion-button{
    text-shadow: 2px;
    font-size: 36px;
    padding-top:30px;
    width: 200px;
    height: 60px;
    z-index: 0;
  }

  ion-img.icone_rede_social {
    background: transparent;
    width: 30px;
    padding-right: 5px;
  }
  
  ion-button.enviar{
    width: 95%;
    height: 70px;
    padding-left: 20px;
  }