<ion-header>
</ion-header>

<ion-content>
    <ion-img id="mulher_pag_converse"src=".\assets\images\mulher_pag_converse.png"></ion-img>

    <ion-title class="titulo_converse"></ion-title>
    <ion-img id="template_converse" src=".\assets\images\template_converse.png"></ion-img>


    <ion-list id = "contatos">
      <ion-button>
          <ion-img class ="icone_rede_social" slot="icon-only" src=".\assets\images\telegram_icon.png"></ion-img>
        Grupo Telegram
      </ion-button>
      <ion-button>
          <ion-img class ="icone_rede_social" slot="icon-only" src=".\assets\images\discord_icon.png"></ion-img>
        Grupo Discord
      </ion-button>
    </ion-list>  

    <ion-list>
      <ion-item class="input_denuncia">
        <ion-input label="Nome" placeholder="(opcional)"></ion-input>
      </ion-item>
    
      <ion-item class="input_denuncia">
        <ion-textarea id="multiline" rows="1">
          <ion-input label="" labelPlacement="stacked" placeholder="Me diga "></ion-input>
        </ion-textarea>
      </ion-item>
      
      <ion-item>
        <ion-select aria-label="" placeholder="Do que se trata?">
          <ion-select-option value="Desabafo">Desabafo</ion-select-option>
          <ion-select-option value="Denuncia">Denuncia</ion-select-option>
        </ion-select>
      </ion-item>

      
      <ion-button class="enviar">Enviar</ion-button>
    </ion-list>

</ion-content>

