<ion-header>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title slot="end">
      MACE
    </ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-img slot="icon-only" src="assets/images/usuario.png" class="no-shadow">usuario</ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-list class="navegacao" >

    <ion-button class="button_navegacao">Manual</ion-button>

    <ion-button class="button_navegacao">Cuide-se</ion-button>

    <ion-button class="button_navegacao">Converse</ion-button>

  </ion-list>
</ion-content>