<ion-header>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-title slot="end">
      MACE
    </ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-img slot="icon-only" src="assets/images/usuario.png"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list class="navegacao">
    <img id="homem_pag_inicial" src="assets\images\homem_pag_inicial.png" alt="">
    <img id="mulher_pag_inicial" src="assets\images\mulher_pag_inicial.png" alt="">

    <ion-button [routerLink] = "['manual']" id="manual" class="button_navegacao">MANUAL</ion-button>

    <ion-button [routerLink] = "['cuide']" id="cuide" class="button_navegacao">CUIDE-SE</ion-button>

    <ion-button [routerLink] = "['converse']" id="converse" class="button_navegacao">CONVERSE</ion-button>
  </ion-list>

  <ion-img id="template" src="assets\images\template.png"></ion-img>
</ion-content>