<ion-header>
  <ion-toolbar>
    <ion-title slot="end">
      MACE
    </ion-title>
    <ion-buttons slot="start">
      <ion-button>
        <ion-img slot="icon-only" src="assets/images/usuario.png" class="no-shadow"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="navegacao" >

    <ion-button class="button_navegacao"><ion-img src="assets/images/homem_pag_inicial.png" class="button-image"></ion-img>Manual</ion-button>

    <ion-button class="button_navegacao">Cuide-se<ion-img src="assets/images/mulher_pag_inicial.png" class="button-image"></ion-img></ion-button>

    <ion-button class="button_navegacao">Converse</ion-button>

  </ion-list>
</ion-content>