@font-face {
  font-family: "Bee Four";
  src: url("/assets/fonts/Bee-Four.ttf");
}

* {
  border: none;
  background-color: var(--ion-color-primary-contrast);
  font-family: "Bee Four", sans-serif;
  font-size: 50px;
}

ion-title{
  right: 10px;
  text-align: right;
  letter-spacing: 2px;
}

ion-button{
  --border-radius: 100px;
  --background-color: var(--ion-color-primary-contrast); 
  height: 90px;
  margin: 10px;
  letter-spacing: 10px;
}

ion-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
}

ion-list {
  padding-top: 50px;
}

ion-list .button_navegacao{
  display: flex;
  flex-direction: column;
  top: 200px;
  width: 100%;
  word-spacing: 55px;
}

.button_navegacao {
  padding-right: 12px;
}

ion-img {
  width: 100px;
}

.toolbar-container{
  --height: 300px;
}

#homem_pag_inicial {
  position: absolute;
  left: 0px;
  top: 0px;
  background: transparent;
  z-index: 1;
  width: 110px;
}

#mulher_pag_inicial{
  position: absolute;
  right: 30px;
  top: 110px;
  background: transparent;
  z-index: 3;
  width: 110px;
}

#manual{
  background-size: cover;
  z-index: 0;
}

#cuide{
  background-size: cover;
  z-index: 2;
}

#converse{
  background-size: cover;
  z-index: 4;
}

#template{
  position: absolute;
  bottom: 44px;;
  left: 0px;
  width: 414px;
}