@font-face {
  font-family: "Bee Four";
  src: url("/assets/fonts/Bee-Four.ttf");
}

* {
  border: none;
  background-color: var(--ion-color-primary-contrast);
  font-family: "Bee Four", sans-serif;
  font-size: 50px;
}

ion-button{
  --border-radius: 100px;
  --background-color: var(--ion-color-primary-contrast); 
  height: 90px;
  margin: 10px;
}

//ion-container{
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
  //position: fixed;
  //height: 100%;
//}


ion-list .button_navegacao{
  display: flex;
  flex-direction: column;
  top: 200px;
  width: 100%;
  word-spacing: 55px;
}

.button_navegacao {
  padding-right: 12px;
}

ion-img {
  width: 100px;
}

.toolbar-container{
  --height: 300px;
}

#homem_pag_inicial {
  position: absolute;
  top: 10%;
  background: transparent;
  width: 325px;
  z-index: 1;

}

#manual{
  background-size: cover;
  z-index: 0;
}

#cuide{
  z-index: 2;
}

#converse{
  z-index: 1;
}