* {
  border: none;
  background-color: var(--ion-color-primary-contrast);
  font-family: "Bee For Regular";
  font-size: 50px;
  font-style: bold;
}

ion-list.navegacao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

ion-button{
  background-color: var(--ion-color-primary-contrast); 
  height: 100px;
  margin: 10px;
}

ion-img {
  width: 150px;
}

.toolbar-container{
  height: 300px;
}
